/* Body tag 처럼 사용하는 요소 */
/* common */
.body__container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
    text-decoration: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

/* ------- btn ------- */
.btn {
  position: relative;

  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  height: 34px;
  border: 1px solid #d5d5e5;
  border-radius: 4px;
  /*  display flex는 block 요소처럼 만들어 버린다  */
  /*  inline 요소처럼 만들기 위해서는 inline-flex를 사용한다.  */
  display: inline-flex;
  align-items: center;

  /* width를 만들지 않고 padding을 이용해 설정하면, 텍스트가 들어가는거에 따라 자동으로 width 가 맞춰지는 효과를 볼 수 있다.    */
  padding: 0 12px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;

  cursor: pointer;
  box-sizing: border-box;

  color: #333;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* ------- input text -------*/
.input--text {
    height: 34px;
   padding: 0 10px;
   box-sizing; border-box;
   border: 1px solid #ddd;
   border-radius: 5px;
   outline: none;
   box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
   font-size: 16px;
 }
 
 /* 
 Vendor Prefix (브라우저 업체별 접두사) - 실험적인 기능을 해당 브라우저에서 사용할 수 있다. 
 */
 .input--text::-webkit-input-placeholder {
   color: #cacaca;
 }
 .input--text::-ms-input-placeholder {
   color: #cacaca;
 }
 .input--text::-moz-input-placeholder {
   color: #cacaca;
 }
 
 .input--text:focus {
   border-color: #51a7e8;
   /* 아래와 같이 하면 기본 설정되어 있는 그림자 + 포커스 되었을 떄 쓸 그림자를 설정 할 수 있다.   */
   box-shadow: 
     inset 0 1px 2px rgba(0,0,0,0.075), 
     0 0 5px rgba(81, 167, 232, 0.5);
 }


/* HEADER */
header {
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    box-shadow: 0 0 5px rgba(0, 0, 0, .75);

    /* 브라우저마다 다르게 해석 할 수 있으므로 white와 같이 사용하지 않고 hexa 코드를 사용한다. */
    background: #fff;
}

header .inner {
    max-width: 980px;

    /* marin 0 auto 를 사용하기 위해서는 width 가 정해져 있어야 한다. */
    margin: 0 auto;
    height: 78px;
}

header .menu-group {
    display: flex;
    /* 부모인 inner 높이에 영향을 받게된다. */
    height: 100%;
    align-items: center;

}

header .logo {
    margin-right: 10px; 
}

header .logo a {
    display: block;
    background: url('../img/logo.svg');
    width: 32px;
    height: 32px;

    /* background로 이미지를 삽입 할 경우, 대체 텍스트를 설정할 수 없으므로 a 태그의 텍스를 지워서는 안된다. */
    /* 화면에서는 사라졌지만 구조적으로는 남아있다. */
    /* 9999는 요소를 사라지게 하기 위한 약속된 값이다. */
    text-indent: -9999px;
}

header .logo a:hover {
    background: url('../img/logo_on.svg');
}


header .main-menu  {
    display: flex;
}

header .main-menu li a {
    /* inline 요소는 범위를 가질 수 없다. 따라서 block 으로 변경한다. */
    display: block;
    /* 여백을 확보해서 클릭을 쉽게 만들기 */
    /* li에 주면 안되고 a 태그에 줘야한다. */
    padding: 10px;
    color: #3c4146;
}

header .main-menu li a:hover {
    color: #4078c5;
}

header .sign-group {
    display: flex;
    height: 100%;
    align-items: center;
}

header .btn-group {
    order: 2;
    display: flex;
}

header .btn-group .sign-in {
    margin-right: 4px;
}

#search-form {
    order: 1;
    margin-right: 12px;
}

#search {
    width: 160px;
    font-size: 14px;
}
/* + : 형제 선택자 */
/* [] : 속성 선택자 */
#search + [type=submit] {
    display: none;;
}

header .sub-menu {
    /* order default 0 */
    order: 0;
    display: flex;
    margin-right: 12px;

}

header .sub-menu li a {
   display: block;
   padding: 8px;
   color: #3c4146;
   font-size: 13px;
}

header .sub-menu li a:hover {
    color: #4078c0;
}
